---

const { 
    content: {title, pubDate, image, tags}
    } = Astro.props;
---

<section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
          <img
            alt={title}
            src={image}
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>
  
        <div class="lg:py-24">
            <h2 class="text-3xl font-bold sm:text-4xl">{title}</h2>
            <span class="flex flex-col sm:gap-y-2 md:flex-row md:items-center md:gap-y-0 md:divide-x md:divide-cyan-500">
                <time class="pr-2">{pubDate}</time>
                {
                    tags.map((item) => (
                        <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600">
                            {item}
                        </span>
                    ))
                }
            </span>
            <slot/>

            <a
              href="#"
              class="mt-8 inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400"
          >
            Get Started Today
          </a>
        </div>
      </div>
    </div>
  </section>